{% extends "base.html" %}
{% block content %}

    <h4> {{ title }} </h4>
    <h2> {{ Welcome Back }} </h2>
    
    <form method= 'POST'>
        <label> Blog title: <br>
            <input type= "text" name= "title" value= "{{ add_title }}" />
        </label>
        <p class= "error"> {{ title_blank }} </p>
        <label> Blog content: <br>
            <textarea name= "body">{{ add_body }}</textarea>
        </label>
        <p class= "error"> {{ body_blank }} </p>
        <input type= 'submit' value= "Input this Blog" />
    </form>


{% endblock %}